/*PRECHARGE DES TYPO LOCALES FONTFACE*/
@font-face {
    font-family: Poppins-Bold;
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}
font-face{
    font-family: Poppins-Black;
    src: url(assets/fonts/Poppins/Poppins-Black.ttf);
    font-weight: bold;
}

/* RESET DES STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEXBOX CONTAINER */
body {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    display: flex; /* ON MET FLEXBOX EN LPLACE */
    flex-direction: column;
    font-family: 'Poppins-Semi-Bold', sans-serif;
    background-color: #6B6A6A;

}

/* HEADER STYLES */
header {
    background: #505762;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*Stikcy menu */
    position: sticky;
    top: 0;
    z-index: 1000;
}
#logo{


}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Bold', sans-serif;
}

nav li {
    margin-right: 20px;
    text-decoration: none;
}

a {
    text-decoration: none; /* Désactive le soulignement par défaut */
    border-bottom: 4px solid transparent; /* Ajoute une bordure basse, transparente */
    transition: border-bottom 0.3s ease; /* Ajoute une transition fluide */
    color: antiquewhite;

}

a:hover {
    border-color: antiquewhite;
    border-bottom-width: 2px;
}



/* MAIN STYLES */
main {
    min-height: 100vh; /* HAUTEUR MINIMUM DE TOUT LE BODY*/
}

/* Banner timer in JS */
.banner {
    diplay:flex;
    width: 100%;
    background-color: coral;

}

/* SECTION STYLES */
section {
    display: flex;
    flex-wrap: wrap;
    font-family: Poppins-Bold;
    color: cornsilk;
}

article {
    text-align: center;
    margin: 35px;
    width: calc(15% - 20px);

}

article img {
    width: 100%;

}

/* FOOTER STYLES */
footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Poppins-Bold;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
    /*NAV RESPONSIVE STYLE*/
    header{
        display:flex;
        flex-direction: column;
    }
    nav  {
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: #333;
        top: 60px;
        left: 0;
    }

    /* SECTION RESPONSIVE STYLES */
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

    article {
        text-align: center;
        margin: 35px;
        width: calc(80% - 15px);
    }
}