/* RESET DES STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHIE DE BASE */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* FLEXBOX CONTAINER */
body {
    display: flex; /* ON MET FLEXBOX EN LPLACE */
    flex-direction: column;

}

/* HEADER STYLES */
header {
    background: #333;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;

}

/* MAIN STYLES */
main {
    min-height: 100vh; /* HAUTEUR MINIMUM DE TOUT LE BODY*/
}

/* SLIDER STYLES */
#slider {
    width: 100%;
    background-color: coral;

}

#slider img {
    width: 100%;
    height: auto;
}

/* SECTION STYLES */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

article {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

article img {
    width: 100%;
    height: auto;
}

/* FOOTER STYLES */
footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media only screen and (max-width: 768px) {
    /*NAV RESPONSIVE STYLE*/
    nav {

        flex-direction: column;
        width: 100%;
        text-align: center;
        background: #333;
        top: 60px;
        left: 0;
    }

    /* SECTION RESPONSIVE STYLES */
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
    }

}
